/*****************************
 All rights reserved.
 AllFont.de (c) 2011-2015
 *****************************/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans-Regular'),
        url("open-sans_5f14bd2f3cd41e7b13ff8bc4177c9d06.woff") format('woff'),
        url("open-sans_5f14bd2f3cd41e7b13ff8bc4177c9d06.ttf") format('truetype');
}
